<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="./Style.css">

<style>
.Link2{
  color: black;
  padding: 60px;
  padding-left: 640px;
}
li a{
  color: blue;
}
</style>

  
</head>

<body>
  <nav>
    <ul>
      <div class="image">
        <h6><a href="#"><img src="./KreFa/KreFa_image/logo_krefa/normal.png" width="150px" alt=""></a></h6>
      </div>
      <div class="Text">
        <a href="#">Kreasi Face Recognition</a>
        <ul class="nav navbar-nav navbar-right">
        <button type="button1" class="btn btn-link">Tentang Kami</button>
        <button type="button2" class="btn btn-primary">Daftar Masuk</button>
      </ul>
      </div>
  </ul>
  </nav>

    

    <!-- <h6><a href="./"><img src="./gambar/Logo HewanTani Cow-min.png" width="35px" alt=""> HewanTani</a></h6>
    <li><a class="<?= $ordernow ?>" href="ordernow">ORDER</a></li>
    <li><a class="<?= $about ?>" href="about">ABOUT</a></li>
    <li><a class="<?= $contact ?>" href="Contact">CONTACT</a></li> -->
</ul>
<div class="Link2">
  <li><a href="LandingPage.html"> Home</a></li>
  <li><a href="PresensiWajah.html"> Events</a></li>
  <li><a href="PreWajahGagal.html"> EventsID</a></li>
  <li><a href="TabelPresensi.html"> LoginAdmin</a></li>
  <li><a href="Regsiter.html"> NewEvent</a></li>
  <li><a href="Login.html"> NotFound</a></li>
  <li><a href="Login-1.html"> People</a></li>
  <li><a href="NewAgenda.html"> PeopleID</a></li>
  <li><a href="LandingPage.html"> Presensi</a></li>
  <li><a href="PresensiWajah.html"> PresensiTanpa</a></li>
  <li><a href="PreWajahGagal.html"> Register</a></li>
  <li><a href="TabelPresensi.html"> RegisterUpdate</a></li>
  <li><a href="Regsiter.html"> Sync</a></li>



</div>



</body>
</html>
